.coursenotes {
  &__nav-btn {
    .icon {
      .icon-checklist;
    }
  }
  &__widget {
    padding: 1rem 0 2rem;
    position: relative;

    &__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      &__download-btn {
        width: -webkit-fill-available;
      }

      &__status {
        padding: .5rem;
      }
    }
  }
  textarea {
    width: 100%;
    min-height: 20rem;
    padding: 1rem;
    font-size: .85rem;
    line-height: 1.5;
    font-weight: normal;
    resize: none;
  }
 
}
